.signup-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    max-height: 100vh;
    overflow-y: hidden;
}

.signup-container {
    min-width: 500px;
    margin-top: 1%;
    padding: 1.5em;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .signup-container h2 {
    text-align: center;
    margin-bottom: 1em;
  }

  .nameContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0.7em;
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.75em;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .password-wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
  }
  .passwordh{
    width: 100%;
    padding: 0.75em;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .password-icon{
    position: absolute;
    right: 0.2rem;
    cursor: pointer;
  }
  
  .error {
    color: red;
    font-size: 0.9em;
    margin-top: 0.5em;
    height: 1em; /* Reserve space for error messages */
  }
  
  .submit-button {
    padding: 0.75em;
    margin: 0;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  